html,
body {
    height: 100%;
}

body {
    margin: 0px auto;
    padding: 0px;
    background-image: url(../media/tables/4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    text-align: center;
}

#playgane {
    position: relative;
}